<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><h3 style="color:darkgreen">"El primer familiar es: {{nombre1}}, su apellido: {{apellido1}}, su dni: {{dni1}}, pertenece al genero: {{genero1}}, 
        la profesión que ejerce es {{profesion1}} y pueden contactarla por {{correo1}} "</h3></p>
    <p><h3 style="color:darkred">"El segundo familiar es: {{nombre2}}, su apellido: {{apellido2}}, su dni: {{dni2}}, pertenece al genero: {{genero2}}, 
        la profesión que ejerce es {{profesion2}} y pueden contactarlo por {{correo2}} "</h3></p>
    <p><h3 style="color:orange">"El tercer familiar es: {{nombre3}}, su apellido: {{apellido3}}, su dni: {{dni3}}, pertenece al genero: {{genero3}}, 
        la profesión que ejerce es {{profesion3}} y pueden contactarla por {{correo3}} "</h3></p>
</body>
</html>